@{
    Layout = null;
}
<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Title About</title>
    <script src="jquery-1.11.1.min.js"></script>

</head>
<body>
    <p>
        Welcome @ViewData["FN"]
    </p>
    <script>
       var getParam = new URL(window.location.href).searchParams.get('firstName');
       document.getElementById("firstName").innerHTML = getParam;
    </script>
</body>
</html>